<div class="background flex w-full h-screen p-0 md:p-4">
    <div class="menu-container flex flex-wrap flex-column h-full w-20rem" [class.menu-hidden]="!menuVisible">
        <ul class="flex flex-column flex-wrap flex-auto justify-content-start pl-0 mt-6 sm:mt-0">
            <div class="text-blue-800 w-5rem h-5rem mb-7 ml-3">
                <img src="../../assets/icons/icon-72x72.png" alt="Logo EduTask">
                <h4 class="uppercase m-0">EduTask</h4>
            </div>
            <ng-container *ngFor="let item of menu; let i = index">
                <button pButton pRipple [routerLink]="item.routerLink" routerLinkActive="active-menu-item"
                    class="flex justify-content-start align-items-center bg-transparent hover:bg-white hover:shadow-8 hover:text-blue-900 border-round-xl border-none h-3rem mb-3 text-blue-800 text-lg font-bold">
                    <i *ngIf="item.icon" [ngClass]="item.icon"
                        class="flex justify-content-start align-items-center mx-3 "></i>
                    {{ item.label }}
                </button>
            </ng-container>
            <li class="flex flex-wrap justify-content-start mt-auto ml-5">
                <button pButton pRipple (click)="onLogout()"
                    class="flex justify-content-start align-items-center bg-blue-800 hover:text-red-600 border-round-xl border-none h-3rem mb-3 pr-4 text-white text-lg font-bold">
                    <i class="pi pi-sign-out mx-3 font-bold"></i>Logout
                </button>
            </li>
        </ul>
    </div>
    <div
        class="content-container bg-white shadow-8 border-round-xl border-3 border-blue-800 w-full h-full ml-0 md:ml-4 p-4 pt-6">
        <button class="menu-toggle-btn" (click)="toggleMenu()" aria-label="Toggle menu">
            <i class="pi pi-bars text-blue-800 text-2xl"></i>
        </button>
        <router-outlet></router-outlet>
    </div>
</div>