<p-table [value]="activities" [paginator]="true" [rows]="8" [responsiveLayout]="'scroll'">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="type">Type
                <p-sortIcon field="type"></p-sortIcon>
            </th>
            <th pSortableColumn="subject">Subject
                <p-sortIcon field="subject"></p-sortIcon>
            </th>
            <th pSortableColumn="topic">Topic
                <p-sortIcon field="topic"></p-sortIcon>
            </th>
            <th pSortableColumn="date">Date
                <p-sortIcon field="date"></p-sortIcon>
            </th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-activity>
        <tr>
            <td>{{ activity.type }}</td>
            <td>{{ activity.subject }}</td>
            <td>{{ activity.topic }}</td>
            <td>{{ activity.date | date }}</td>
            <td>
                <button pButton (click)="confirmDeleteActivity(activity.id)"
                    class="pi pi-trash p-button-danger p-button-text"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-confirmDialog></p-confirmDialog>