<div class="background flex justify-content-center align-items-center w-full h-screen">
    <div
        class="w-25rem md:w-30rem h-26rem bg-white shadow-8 border-round-xl border-3 border-blue-800 text-blue-800 font-semibold">
        <div class="flex justify-content-center align-items-center mt-4 mb-2">
            <h1 style="font-weight: 800;">Login</h1>
        </div>
        <div class="flex justify-content-center align-items-center">
            <div class="flex flex-column">
                <label for="email" class="text-sm">Email</label>
                <input type="text" class="w-20rem bg-blue-100 border-round-3xl border-none" pInputText
                    formControlName="email" />
            </div>
        </div>
        <div class="flex justify-content-center align-items-center mt-3">
            <div class="flex flex-column">
                <label for="password" class="text-sm">Password</label>
                <p-password [(ngModel)]="value" [toggleMask]="true"
                    inputStyleClass="w-20rem bg-blue-100 border-round-3xl border-none" />
            </div>
        </div>
        <div class="flex justify-content-center align-items-center mt-5">
            <button pButton pRipple (click)="onSubmit()"
                class="flex justify-content-center w-20rem h-2rem border-round-2xl border-none bg-blue-800 text-white text-lg font-semibold">Submit</button>
        </div>
        <div class="flex justify-content-center align-items-center mt-2">
            <button pButton pRipple (click)="onRegister()"
                class="flex justify-content-center w-20rem h-2rem border-round-2xl border-none bg-green-500 text-white text-lg font-semibold">Create
                Account</button>
        </div>
    </div>
</div>