.card {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
}

::ng-deep .p-dialog-mask {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
}
